<!doctype html>
<html lang="en">

<head>
	<title>Dashboard - Museu Casa do Sertão</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="assets/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="assets/vendor/linearicons/style.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/login.css">
	<!-- GOOGLE FONTS -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
</head>

<body>
	<!-- WRAPPER -->
	<div id="wrapper">
        <div id="main-content" class="container">
        <div class="row login-box">
            <div class="col-sm-4 col-sm-offset-4 login">
                <div class="row form-box">
                    <h2>LOGIN</h2>
                    <div class="col-xs-10 col-xs-offset-1">
                        <input class="form-group input-sm" type="email" placeholder="E-mail" v-model="email">
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <input class="form-group input-sm" type="password" placeholder="Senha" v-model="senha">
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                      <button class="btn btn-sm btn-block" v-on:click="login">Login</button>
                        <!-- <a class="btn btn-lg btn-block" href="./dashboard/index.html">Login</a> -->
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-sm btn-block btn-facebook" v-on:click="login"><i class="fa fa-facebook"></i> Facebook</button>
                        <!-- <a class="btn btn-lg btn-block" href="./dashboard/index.html">Login</a> -->
                    </div>
                    <div class="col-xs-10 col-xs-offset-1">
                        <button class="btn btn-sm btn-block btn-google" v-on:click="login"><i class="fa fa-google"></i> Google</button>
                        <!-- <a class="btn btn-lg btn-block" href="./dashboard/index.html">Login</a> -->
                    </div>
                    <div class="col-xs-12 forgetPassword">
                        <a href="#">Esqueci minha senha</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
		<!-- NAVBAR -->
	</div>
	<!-- END WRAPPER -->
	<!-- Javascript -->
	<script src="assets/vendor/jquery/jquery.min.js"></script>
	<script src="assets/vendor/bootstrap/js/bootstrap.min.js"></script>


</body>

</html>