img{
    border: 3px solid gray;
}

.row {
    position: relative;
}

.row form {
    position: absolute;
    top: 0px;
    left: 270px;
    text-align: left;
}

.row form input {
    position: absolute;
    left: 120px;
}

.row form li{
    list-style: none;
}